<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Registros</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
</head>
<body> 
<div class="container">
	<header th:replace="layout/header :: header"></header>
	<div class="row">
		<section class="col-sm-6 col-md-9 bg-light">
			<div class="btn btn-outline-danger">
				<a th:href="@{/empleado/nuevo}">Nuevo</a>
			</div>
			<div class="bg-danger titulo01 col-12 text-center">
				<h3>LISTADO DE EMPLEADOS</h3>
			</div>
			<div class="table-responsive">
				<table class="table-danger table-striped text-center container">
				<tr>
					<th>Legajo</th>
					<th>Apellido</th>
					<th>Nombres</th>
					<th>Sueldo</th>
				</tr>
			
				<tr th:each="e: ${empleados}">
					<td th:text="${e.legajo}"></td>
					<td th:text="${e.apellido}"></td>
					<td th:text="${e.nombres}"></td>
					<td th:text="${e.sueldo}"></td>
				</tr>
				</table>
			</div>
			
		</section>
		<aside th:replace="layout/publicidad :: publicidad"></aside>	
	</div>
	
	<footer th:replace="layout/footer :: footer"></footer>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</body>
</html>